
@{
    ViewBag.Title = "Index";
}
<h6>@ViewBag.Msg</h6>
<h2>UEFA Champions League: Menu Principal</h2>


<h3>Buscar Equipo</h3>

@using (Html.BeginForm("Busqueda", "Informacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="text" name="Llave" />
    <input type="submit" value="Buscar" class="btn btn-outline-success" />
}
    <p>@ViewBag.Msg</p>

<p>
    @Html.ActionLink("Mostrar estampillas faltantes", "Faltantes")
</p>
<table class="table table-hover">
    <tr class="table">
        <th>
            EQUIPO
        </th>
        <th>
            OPCIONES
        </th>
    </tr>

    @foreach (var item in Unidad_5_Lab.Singleton.Data.Instancia.Equipos)
    {
        <tr class="table">
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>

            <td class="table-dark">
                @Html.ActionLink("Ver Equipo", "MostrarListas", new { Llave = item }) 
            </td>
        </tr>
    }

</table>


