@model IEnumerable<Unidad_5_Lab.Models.Estampilla>

@{
    ViewBag.Title = "MostrarListaEscogida";
}

<h2>@ViewBag.Msg</h2>


<table class="table table-hover" >
    <tr class="table-light">
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="table-dark">
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
    </tr>
}

</table>
