@model IEnumerable<Unidad_5_Lab.Models.Estampilla>

@{
    ViewBag.Title = "MostrarListaEscogida";
}

<h2>UEFA Champions League:Lista de Estampillas de @ViewBag.Msg</h2>

<p>
    @Html.ActionLink("Regresar a Menu Principal", "Index")
</p>

<table class="table table-hover" >
    <tr class="table">
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="table">
        <td >
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td class="table-dark">
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
    </tr>
}

</table>
